body, html {
    height: 100vh;
}

body {
  min-width: 600px;
}

.headerWrapper {
  border: 1px solid orange;
  height: 5vh;
}

.gameWrapper, .statusWrapper {
  padding: 15px;
  height: 90vh;
  border: 1px solid red;
}

#gameCanvas, #statusCanvas {
  width: 100%;
  height: 100%;
  border: 1px solid blue;
}

.statusWrapper {
  border: 1px solid green;
}

.footerWrapper {
  border: 1px solid orange;
  height: 5vh;
}
