/*Font used for game messages*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/*Font used for the title bar game clock*/
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
/*Main font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*Makes the page full browser height*/
body, html {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
body {
  min-width: 600px;
}
/*Game canvas should take up full width with no gaps*/
#pageWrapper {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin: 0;
}

/*
 * Header styles
 */
.headerWrapper {
  padding: 0;
  height: 45px;

  background-color: #555;
  color: white;

  border-bottom: 1px solid #DDD;
}
.gameclock {
  margin-left: auto;
  padding-right: 20px;
  padding-top: 5px;

  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 20px;
}
/*
 * Menu Styles
 */
#menuBtn {
  padding: 0 0 8px;
}
.nav-menu-icon {
  width: 25px;
  height: 25px;
}

/* Themes the hamburger icon SVG */
.nav-menu_icon_line {
  fill: none;
  stroke: white;
  stroke-linecap: square; /*round*/ /*square*/
  stroke-miterlimit: 10;
  stroke-width: 100px;
}

.navWrapper {
  position: absolute;
  z-index: 999;
  padding: 0;
  width: 100vw;
}
.navbar {
  text-align: center;
}
.navbar-collapse {
  width: 80vw;
  margin: auto;
  float: none;

  background-color: #555;/* #993333;*/
  color: white;

  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
/*
 * Game Splashscreen styles
 */
#splashscreen {
  padding: 15px;
}
.splashform {
  display: inline-block;
  text-align: center;
  padding: 15px;
}
.splashtext {
  margin-bottom: 5px;
}
.game-btn {
  width: 100px;
  margin: 0 5px 0;
}
h1.splashtext {
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}
.btn-group.btn-group-toggle .btn {
  width: 75px;
}
#difficultycontrols {
  padding: 10px 0 10px;
}
#gamecontrols {
  padding-top: 10px;
}
/*
 * Game page and canvas styles
 */
.gameWrapper {
  padding-left: 0;
  padding-right: 0;
  /*Make the game screen take up the whole screen - header height*/
  height: calc(100vh - 45px);
}
/*Ensures game canvas takes full height*/
#gameCanvas {
  width: 100%;
  height: 100%;
}
